.container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.container > h1 {
    font-size: x-large;
    font-weight: 900;
    text-transform: capitalize;

    margin-top: 20px;
}

.container > h3 {
    font-size: medium;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 20px;
}

.sub-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
}

.sub-content > h2 {
    font-size: larger;
    font-weight: 600;
    text-transform: capitalize;
}

.sub-content > input {
    width: 60%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 30px auto;
}
