.container {
    width: 100%;
    min-height: 2rem;
    padding: 5px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color-secondary);
    background: var(--color-primary);
}

.container > h2 {
    font-size: larger;
    font-weight: 600;
    text-transform: capitalize;
}

.social-links {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
}
